
/* ICON */
@import url(http://weloveiconfonts.com/api/?family=brandico);


html body {
margin: 0 !important;
    padding: 0 !important;
}

body {

font-family: 'Quicksand', sans-serif;
}
/* General */


header .logo {
  border: solid 2px white;
  display: block;
  width: 100px;
  margin: 0 auto;
}

.display-menu {
  background-color: #74491a;
}

.display-menu ul a {
  color: white;
}
header h1 .title{
  letter-spacing: 8px;
  color: white;
}

.tomo {
  width: 100%;
  display: block;
  position: relative;
margin: 0 auto;
}



.welcome {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.welcome .line2{
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom}

  .tomo2{
  width: 100%;
  display: block;
  position: relative;
margin: 0 auto;
}
footer .line{
  border: 1px solid black;
  margin-top: 20%;
  margin-bottom: 0;
}
footer{
    font-size: 12px;
     margin: 0 auto;
}
footer a{
  text-decoration: none;
  color: #74491a;
}
footer li {
  list-style-type: none;
  display: inline-block;
}



[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}


ul.social-buttons {
  text-align: center;
  margin-top: 50px;
  position: relative;
  width: 300px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 10px;
}

ul.social-buttons li a {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: #74491a;
}


/* DESKTOP */

@media screen and (min-width: 800px) {

  header {
    background-color: #74491a;
    position: absolute;
    z-index: 999;
    width: 100%;
    display: inline-block;
    border: none;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}
  header .logo {
    display: inline-block;
    border: none;
    float: left;
    width: 120px;
    height: 80px;
    margin: 0 auto;
    background: url("http://cfile266.uf.daum.net/image/23644746564D0C2224C08E");
    background-size: contain;
    margin-top: 0px;
    margin-bottom: 0;
    background-repeat: no-repeat;
  }
  header h1 {
  letter-spacing: 8px;
  font-size: 48px;

}
header nav ul {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}

header nav li {
  display: inline-block;
  padding: 25px 50px;
  font-size: 16px;
  letter-spacing: 2.5px;
}
header nav li:hover{
  background-color: #a0703d;
}

header nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  }

   .welcome {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    top: 50px;
    position: relative;
    z-index: 2;
    height: 100%;
    color: #74491a;
  }
  .welcome h1 {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 60px;
  } 

  .welcome h3{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
  }

 
  footer .email{
  width: 150px;
  text-align: center;
    margin-top: 50px;
}
footer .phone{
  width: 150px;
  text-align: center;
    margin-top: 50px;
  }
footer .visit{
  text-align: center;
    width: 200px;
}

.subfooter {
  text-align: center;
}

.subfooter li{
    margin: 0 50px;
}

.subfooter p{
  margin: 80px;
}



/* MOBILE */

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #74491a;
    height: 100px;
    margin-top: 0;
  }

  .clearfix {
    overflow: auto;
  }

  header .logo {
    display: inline-block;
    border: none;
    width: 80px;
    height: 50px;
    float: left;
    margin: 5px;
    margin-top: 15px;
    background: url("http://cfile266.uf.daum.net/image/23644746564D0C2224C08E");
    background-size: cover;
  }
 header h1{
  letter-spacing: 8px;
  font-size: 28px;

}

header nav ul {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}
header nav li {
  display: inline-block;
  padding: 3% 4%;
  font-size: 12px;
  letter-spacing: 2.5px;
}
header nav li:hover{
  background-color: #a0703d;
}

header nav li a {
  text-decoration: none;
  text-transform: uppercase;
}

.welcome {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    top: 20px;
    position: relative;
    z-index: 2;
    height: 100%;
    color: #74491a;
  }
  .welcome h1{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
  }
  .welcome .explanation1{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
  }
   .welcome .explanation2{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  footer .email{
  width: 150px;
  text-align: center;
    margin-top: 50px;
}
footer .phone{
  width: 150px;
  text-align: center;
    margin-top: 50px;
  }
footer .visit{
  text-align: center;
    width: 170px;
    margin-left: 0;
    display: inline-block;
}

.subfooter {
  text-align: center;
}

.subfooter li{
    margin: 0 15px;
}

.subfooter p{
  margin: 60px;
}
